In [4]:
import pandas as pd

# Step 1: Load the data
df = pd.read_csv('input.csv')  # Replace with your actual filename

df['HourIndex'] = df.groupby(['Year', 'Month', 'Day']).cumcount() + 1

pivoted = df.pivot_table(index=['Year', 'Month', 'Day'], 
                         columns='HourIndex', 
                         values='hourly', 
                         aggfunc='first')

pivoted.columns = [f'HRF{str(i).zfill(2)}' for i in pivoted.columns]

result = pivoted.reset_index()

result['INDEX'] = 42807
result['DT'] = result['Day']
result['DAY'] = pd.to_datetime(result[['Year', 'Month', 'Day']]).dt.dayofweek + 1
result['TOTRF'] = result[[col for col in result.columns if col.startswith('HRF')]].sum(axis=1)
result['TOT_Cal'] = result['TOTRF']

result = result.rename(columns={'Year': 'YEAR', 'Month': 'MN'})

ordered_cols = ['INDEX', 'YEAR', 'MN', 'DT', 'DAY'] + \
               [f'HRF{str(i).zfill(2)}' for i in range(1, 25)] + ['TOTRF', 'TOT_Cal']
result = result[ordered_cols]

,INDEX,YEAR,MN,DT,DAY,HRF01,HRF02,HRF03,HRF04,HRF05,...,HRF17,HRF18,HRF19,HRF20,HRF21,HRF22,HRF23,HRF24,TOTRF,TOT_Cal
0,1,1969,1,1,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1969,1,2,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1969,1,3,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1969,1,4,6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1969,1,5,7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14970,1,2009,12,27,7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14971,1,2009,12,28,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14972,1,2009,12,29,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14973,1,2009,12,30,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14974,1,2009,12,31,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
result

,INDEX,YEAR,MN,DT,DAY,HRF01,HRF02,HRF03,HRF04,HRF05,...,HRF17,HRF18,HRF19,HRF20,HRF21,HRF22,HRF23,HRF24,TOTRF,TOT_Cal
0,1,1969,1,1,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1969,1,2,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1969,1,3,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1969,1,4,6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1969,1,5,7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14970,1,2009,12,27,7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14971,1,2009,12,28,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14972,1,2009,12,29,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14973,1,2009,12,30,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14974,1,2009,12,31,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
result.to_excel('output_file.xlsx', index=False)

In [15]:
# Split data into training and analysis
city_analysis = result[result['YEAR'].between(2001, 2020)]
city_train = result[result['YEAR'].between(1969, 2000)]

# Create city_test using only selected columns from city_analysis
meta_columns = ['INDEX', 'YEAR', 'Month', 'DT', 'DAY', 'TOTRF', 'TOT_Cal']
city_test = city_analysis[meta_columns]

In [16]:
# Save to separate CSV files
city_analysis.to_csv('output_file_path_analysis.csv', index=False)
city_train.to_csv('output_file_path_train.csv', index=False)
city_test.to_csv('output_file_path_test.csv', index=False)